.headerContainer {
  width: 100%;
  margin: auto;

  align-items: center;
  height: 85px;
  background-color: #fff159;
  display: flex;

  .img {
    align-items: center;
    width: 134px;
    height: 34px;
  }
}

@media (min-width: 500px) {
  .headerContainer {
    justify-content: center;
  }
}
