.carouselContainer {
  width: 100%;
  background-color: rgb(240, 236, 236);
  padding-top: 30px;
  padding-bottom: 30px;
  .propsTitle {
    margin-left: 265px;
    font-size: 26px;
    font-weight: 300;
  }
  .carousel-container {
    display: flex;
    margin-left: 250px;
    height: 320px;
  }
}
