.container {
  color: #0384bd;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #fff059;
  .image {
    padding: 10px;
  }
  .textContainer {
    font-family: cursive;
    margin: 0px auto;
  }

  .fa-heart {
    margin-left: 5px;
  }
}
